In [2]:
mydict = {'nombre':'alfonso', 'apellido':'morales', 'edad':26}

In [3]:
for item in mydict:
    print(mydict[item])

alfonso
morales
26

In [7]:
for item in mydict.items():
    print(item)

('nombre', 'alfonso')
('apellido', 'morales')
('edad', 26)

In [10]:
for (key,value) in mydict.items():
    print(value)

alfonso
morales
26

In [12]:
# Generator
for i in range(10,100,10):
    print(i)

10
20
30
40
50
60
70
80
90

In [13]:
list(range(100,1000,100))

[100, 200, 300, 400, 500, 600, 700, 800, 900]

In [17]:
myword = "alfonso morales"
for a,b in enumerate(myword):
    print(a)
    print(b)

0
a
1
l
2
f
3
o
4
n
5
s
6
o
7

8
m
9
o
10
r
11
a
12
l
13
e
14
s

In [19]:
mylist1 = ['a','b','c']
mylist2 = [1,2,3]

print(list(zip(mylist1,mylist2)))

[('a', 1), ('b', 2), ('c', 3)]

In [20]:
'x' in ['x','y','z']

True

In [21]:
from random import shuffle

In [23]:
lista = [1,2,3,4,5,6,7]
shuffle(lista)
lista

[5, 2, 4, 1, 6, 3, 7]

In [24]:
from random import randint

In [25]:
randint(0,100)

68

In [27]:
palabra = 'pachitron'
mylista = [x for x in palabra]
mylista

['p', 'a', 'c', 'h', 'i', 't', 'r', 'o', 'n']

In [31]:
mylista = [ num**2 for num in range (0,10) if num%2 == 0]
mylista

[0, 4, 16, 36, 64]

In [34]:
celcius = [0,10,100,35]

fahrenheit = [ ((9/5)*temp + 32) for temp in celcius ]
fahrenheit

[32.0, 50.0, 212.0, 95.0]

In [35]:
a = [ x*y for x in [10,20,30] for y in [100,200,300] ]
a

[1000, 2000, 3000, 2000, 4000, 6000, 3000, 6000, 9000]